body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1959_ann {
  border-width:0px;
  position:absolute;
  left:93px;
  top:26px;
  width:1px;
  height:1px;
}
#u1961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1961 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:30px;
  width:100px;
  height:60px;
}
#u1962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1961_ann {
  border-width:0px;
  position:absolute;
  left:243px;
  top:26px;
  width:1px;
  height:1px;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:60px;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1963_ann {
  border-width:0px;
  position:absolute;
  left:393px;
  top:26px;
  width:1px;
  height:1px;
}
#u1965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1965 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:60px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1965_ann {
  border-width:0px;
  position:absolute;
  left:543px;
  top:26px;
  width:1px;
  height:1px;
}
#u1967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:49px;
  width:30px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:45px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u1971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:45px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1973_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u1973_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:66px;
  width:158px;
  height:8px;
}
#u1973_seg2 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:0px;
  width:8px;
  height:74px;
}
#u1973_seg3 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:60px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1975_ann {
  border-width:0px;
  position:absolute;
  left:693px;
  top:26px;
  width:1px;
  height:1px;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:60px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1977_ann {
  border-width:0px;
  position:absolute;
  left:843px;
  top:26px;
  width:1px;
  height:1px;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:30px;
  width:100px;
  height:60px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1979_ann {
  border-width:0px;
  position:absolute;
  left:993px;
  top:26px;
  width:1px;
  height:1px;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:45px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:45px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:45px;
  width:30px;
  height:30px;
  font-size:20px;
  text-align:center;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:175px;
  width:100px;
  height:60px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:175px;
  width:100px;
  height:60px;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:90px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1991_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u1991_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:78px;
}
#u1991_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:66px;
  width:308px;
  height:8px;
}
#u1991_seg3 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:8px;
  height:74px;
}
#u1991_seg4 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
