body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:300px;
  width:100px;
  height:60px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:100px;
  height:60px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:100px;
  height:60px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:400px;
  width:100px;
  height:60px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:260px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u741_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u741_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u741_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:360px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u743_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u743_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u743_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:640px;
  width:100px;
  height:60px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:400px;
  width:100px;
  height:60px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:600px;
  width:100px;
  height:60px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:500px;
  width:100px;
  height:60px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:300px;
  width:100px;
  height:60px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:300px;
  width:100px;
  height:60px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:300px;
  width:100px;
  height:60px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:700px;
  width:100px;
  height:60px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:300px;
  width:100px;
  height:60px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:700px;
  width:100px;
  height:60px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u765_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-24px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u765_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u765_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-40px;
  width:1px;
  height:1px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u767_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-24px;
  width:204px;
  height:8px;
  -webkit-transform:rotate(168.69006752598deg);
  -moz-transform:rotate(168.69006752598deg);
  -ms-transform:rotate(168.69006752598deg);
  transform:rotate(168.69006752598deg);
}
#u767_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u767_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:-40px;
  width:1px;
  height:1px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u769_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-24px;
  width:108px;
  height:8px;
  -webkit-transform:rotate(158.198590513648deg);
  -moz-transform:rotate(158.198590513648deg);
  -ms-transform:rotate(158.198590513648deg);
  transform:rotate(158.198590513648deg);
}
#u769_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u769_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-40px;
  width:1px;
  height:1px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u771_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-24px;
  width:304px;
  height:8px;
  -webkit-transform:rotate(172.405356631409deg);
  -moz-transform:rotate(172.405356631409deg);
  -ms-transform:rotate(172.405356631409deg);
  transform:rotate(172.405356631409deg);
}
#u771_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u771_seg2 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:-40px;
  width:1px;
  height:1px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:700px;
  width:100px;
  height:60px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:700px;
  width:100px;
  height:60px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:700px;
  width:100px;
  height:60px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u779_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u779_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u779_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u781_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:204px;
  height:8px;
  -webkit-transform:rotate(-168.69006752598deg);
  -moz-transform:rotate(-168.69006752598deg);
  -ms-transform:rotate(-168.69006752598deg);
  transform:rotate(-168.69006752598deg);
}
#u781_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u781_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:1px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u783_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:404px;
  height:8px;
  -webkit-transform:rotate(-174.2894068625deg);
  -moz-transform:rotate(-174.2894068625deg);
  -ms-transform:rotate(-174.2894068625deg);
  transform:rotate(-174.2894068625deg);
}
#u783_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u783_seg2 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:40px;
  width:1px;
  height:1px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u785_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:108px;
  height:8px;
  -webkit-transform:rotate(-158.198590513648deg);
  -moz-transform:rotate(-158.198590513648deg);
  -ms-transform:rotate(-158.198590513648deg);
  transform:rotate(-158.198590513648deg);
}
#u785_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u785_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:1px;
  height:1px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u787_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:304px;
  height:8px;
  -webkit-transform:rotate(-172.405356631409deg);
  -moz-transform:rotate(-172.405356631409deg);
  -ms-transform:rotate(-172.405356631409deg);
  transform:rotate(-172.405356631409deg);
}
#u787_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u787_seg2 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:40px;
  width:1px;
  height:1px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u789_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u789_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u789_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:560px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u791_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u791_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u791_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:600px;
  width:100px;
  height:60px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:700px;
  width:100px;
  height:60px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:700px;
  width:100px;
  height:60px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:700px;
  width:100px;
  height:60px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:700px;
  width:100px;
  height:60px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:60px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:460px;
  width:100px;
  height:60px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:100px;
  height:60px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:100px;
  height:60px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u811_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u811_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u811_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u813_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:108px;
  height:8px;
  -webkit-transform:rotate(-158.198590513648deg);
  -moz-transform:rotate(-158.198590513648deg);
  -ms-transform:rotate(-158.198590513648deg);
  transform:rotate(-158.198590513648deg);
}
#u813_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u813_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:40px;
  width:1px;
  height:1px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u815_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:204px;
  height:8px;
  -webkit-transform:rotate(-168.69006752598deg);
  -moz-transform:rotate(-168.69006752598deg);
  -ms-transform:rotate(-168.69006752598deg);
  transform:rotate(-168.69006752598deg);
}
#u815_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u815_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:1px;
  height:1px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:660px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u817_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:304px;
  height:8px;
  -webkit-transform:rotate(-172.405356631409deg);
  -moz-transform:rotate(-172.405356631409deg);
  -ms-transform:rotate(-172.405356631409deg);
  transform:rotate(-172.405356631409deg);
}
#u817_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u817_seg2 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:40px;
  width:1px;
  height:1px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:400px;
  width:100px;
  height:60px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:430px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u821_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u821_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u821_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:430px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u823_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u823_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u823_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u825_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:490px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u827_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-36px;
  width:120px;
  height:12px;
  -webkit-transform:rotate(149.036243467926deg);
  -moz-transform:rotate(149.036243467926deg);
  -ms-transform:rotate(149.036243467926deg);
  transform:rotate(149.036243467926deg);
}
#u827_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u827_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-60px;
  width:1px;
  height:1px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u829_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-66px;
  width:160px;
  height:12px;
  -webkit-transform:rotate(129.805571092265deg);
  -moz-transform:rotate(129.805571092265deg);
  -ms-transform:rotate(129.805571092265deg);
  transform:rotate(129.805571092265deg);
}
#u829_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u829_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-120px;
  width:1px;
  height:1px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:610px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u831_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-96px;
  width:208px;
  height:12px;
  -webkit-transform:rotate(119.054604099077deg);
  -moz-transform:rotate(119.054604099077deg);
  -ms-transform:rotate(119.054604099077deg);
  transform:rotate(119.054604099077deg);
}
#u831_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u831_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-180px;
  width:1px;
  height:1px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:670px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u833_seg0 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-124px;
  width:260px;
  height:8px;
  -webkit-transform:rotate(112.61986494804deg);
  -moz-transform:rotate(112.61986494804deg);
  -ms-transform:rotate(112.61986494804deg);
  transform:rotate(112.61986494804deg);
}
#u833_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u833_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-240px;
  width:1px;
  height:1px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:100px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u837_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u837_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u837_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:160px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u839_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u839_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u839_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:730px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u841_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-154px;
  width:320px;
  height:8px;
  -webkit-transform:rotate(108.434948822922deg);
  -moz-transform:rotate(108.434948822922deg);
  -ms-transform:rotate(108.434948822922deg);
  transform:rotate(108.434948822922deg);
}
#u841_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u841_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-300px;
  width:1px;
  height:1px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-158px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:500px;
  width:100px;
  height:60px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:460px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u845_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u845_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u845_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:560px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u847_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:16px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u847_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u847_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:600px;
  width:100px;
  height:60px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u851_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:100px;
  height:8px;
}
#u851_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u851_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:0px;
  width:1px;
  height:1px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u853_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:100px;
  height:8px;
}
#u853_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u853_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:0px;
  width:1px;
  height:1px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:400px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:400px;
  width:100px;
  height:60px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u859_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u859_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u859_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u861_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u861_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u861_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:100px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:130px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u865_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u865_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u865_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:1px;
  height:1px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u873_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:100px;
  height:8px;
}
#u873_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u873_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:0px;
  width:1px;
  height:1px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u875_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:24px;
  width:120px;
  height:12px;
  -webkit-transform:rotate(-30.9637565320735deg);
  -moz-transform:rotate(-30.9637565320735deg);
  -ms-transform:rotate(-30.9637565320735deg);
  transform:rotate(-30.9637565320735deg);
}
#u875_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u875_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:60px;
  width:1px;
  height:1px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u877_seg0 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:54px;
  width:160px;
  height:12px;
  -webkit-transform:rotate(-50.1944289077348deg);
  -moz-transform:rotate(-50.1944289077348deg);
  -ms-transform:rotate(-50.1944289077348deg);
  transform:rotate(-50.1944289077348deg);
}
#u877_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u877_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:120px;
  width:1px;
  height:1px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u881_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-36px;
  width:120px;
  height:12px;
  -webkit-transform:rotate(30.9637565320735deg);
  -moz-transform:rotate(30.9637565320735deg);
  -ms-transform:rotate(30.9637565320735deg);
  transform:rotate(30.9637565320735deg);
}
#u881_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u881_seg2 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-60px;
  width:1px;
  height:1px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
