body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:905px;
  height:95px;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:31px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  text-align:left;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:80px;
  height:30px;
  text-align:left;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:31px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:330px;
  height:30px;
  text-align:left;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:326px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:120px;
  height:30px;
  text-align:left;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:120px;
  height:30px;
  text-align:left;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:31px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:30px;
  text-align:left;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:30px;
  width:80px;
  height:30px;
  text-align:left;
  line-height:20px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:31px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:30px;
  width:330px;
  height:30px;
  text-align:left;
  line-height:20px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:326px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:31px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:250px;
  height:30px;
  text-align:left;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:60px;
  width:80px;
  height:30px;
  text-align:left;
  line-height:20px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:31px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:60px;
  width:330px;
  height:30px;
  text-align:left;
  line-height:20px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:326px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:316px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:315px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
